.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}


.App-link {
  color: #61dafb;
}

.main-container{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-post{
  display: flex;
  flex-direction: column;
}
.add-button{
  margin: 20px;
}

input{
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}

.posts-container{
  background-color: #1C1E65FF;
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  width: 500px;
}

.error-text{
  color: red;
}